
@media (max-width: 425px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat;
        background-color: var(--background-color);
        background-size: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .header{
        text-align: left;
    }

    .header .logo{
        width: 45%;
    }

    .principal {
        flex-direction: column;
        padding: 0;
    }

    .principal h2 {
        font-size: 1.5rem;
    }

    .principal .illustration img {
        max-width: 80%;
    }

    footer {
        justify-content: center;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
    }
}